/* finanFE.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.titulo-pagina {
  margin: 0;               
  margin-left: 15px;     
  color: white;
}

.menu {
  background-color: #105424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1px;
  height: 100px;
  border: 3px solid black;
}

.menu nav {
  margin-left: auto;
}

.menu nav ul {
  display: flex;         
  align-items: center;   
  list-style: none;      
  margin: 0;
  padding: 0;
  gap: 10px;
}

.menu .logo {
  margin-left: 15px;
  margin-top: 0px;
  width: 100px;
  height: auto;
}

.menu .logo-usuario {
  width: auto;
  height: 70px;
  margin-top: 10px ;
  margin-bottom: 0px ;
  margin-right: 5px ;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li a {
  display: block;
  margin-right: 10px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li a:hover {
  background-color: #869fb8;
}

.contenedor {
  display: flex;
}

.sidebar {
  background-color: orange;
  padding: 10px;
  width: 60px;
  height: 100vh;
  border: 3px solid black;
  border-top: 0px solid black;
}

.logo-sidebar {
  width: 120%;
  height: auto;
  border-radius: 100px;
  border: 3px solid black;
  margin-left: -3px;
}
.logo-sidebar, Logo-lateral2  {
  margin-top: 3px;
}

.logo-sidebar:hover {
  background-color: #ffffff;
}

.contenido {
  flex: 1;
  background-color: #f0f0f0;
  margin: 20px;
}

#boton_transferir, #boton_retirar{
  background-color: #328aa5;
  color: #328aa5;
  border: 3px solid black;
}

#fecha {
  width: 100px;  
  height: 40px;
}

#boton_ahorros {
  text-align: center;
  width: 60px;
  font-size: 12px;
  background-color: #328aa5;
  color: #000000;
  border: 3px solid black;
}

#boton_ahorros:hover {
  background-color: #869fb8;
  color: #0c0c0c;
}

#dinero_meta {
  width: 200px;
  padding: 10px;
  font-size: 12px;
  border: 3px solid black;
}

.fila_ahorros {
  margin-top: 20px;
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 15px;
}

#boton_transferir:hover, #boton_retirar:hover {
  background-color: #869fb8;
  color: #869fb8;
}

#texto_ahorros {
  text-align: left;
  margin-top: 5px;
}

.fila {
  margin-top: 50px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 220px; 
}

.fila_boton {
  margin-top: 10px;
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 0px;
}

#boton_transferir, #boton_retirar, .logo-tran{
 width: 60px;
}

#boton_transferir {
 margin-right: 20px;
}

#boton_retirar{
  height: 35px;
}

.boton_lejos{
  margin-right: 25px;
}

#boton_pagofacil{
  width: 67px;
  border: 3px solid black;
  background-color: #f0d05b;
  margin-right: 170px;
}

.logo-tran{ 
  height: auto;  
}